---
layout: default
---
{{ content }}

<div class="local-post-list">
{%- for post in site.posts -%}
{%- assign excerpt_parts = post.excerpt | split: '<div class="paragraph">' -%}
<hr>
<div class="local-list-item">
    <h3><span class="local-subtitle">{{ post.date | date: site.date_format }}</span><br>
    <a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="paragraph"><p>
    {%- for excerpt_part in excerpt_parts offset:1 -%}
    {{ excerpt_part | replace: '<p>', '' | replace: '</p>', '' | replace: '</div>', '' }}
    {%- endfor -%}
    <a href="{{ post.url }}">Read more...</a></p></div>
</div>

{%- endfor -%}
<div class="paragraph">
    <p><br><br></p>
</div>
</div>
