---
layout: default
---
<div class="paragraph">
<p></p>
</div>
<div class="paragraph">
<p style="text-align: center;">A software engineer at <a href="https://www.redhat.com/en/products/integration" target="_blank">Red Hat Integration</a>, working mostly on
<a href="https://github.com/apache/camel-quarkus" target="_blank">Apache Camel Quarkus</a>.<br>
Coauthor of <a href="https://github.com/mvndaemon/mvnd">mvnd</a> (Maven Daemon),
<a href="https://github.com/srcdeps/srcdeps-maven">srcdeps</a> (source dependencies for Maven and Gradle)
and <a href="https://github.com/ec4j/ec4j">ec4j</a> (<a href="https://editorconfig.org/">EditorConfig</a> for Java).<br>
<a href="/about.html">More about me...</a>
</p>
</div>

<hr>
<h2>Recent and upcoming talks</h2>
<div class="local-post-list">
{%- assign talksCount = 0 -%}
{%- assign talksCountWithSlides = 0 -%}
{%- for talk in site.data.talks -%}
{%- assign talksCount = talksCount | plus: 1 -%}
<div class="local-list-item">
    <h3><span class="local-subtitle">{{ talk.date | date: site.date_format }}&nbsp;&nbsp;•&nbsp;&nbsp;{%- if talk.eventUri != null -%}<a href="{{ talk.eventUri }}" target="_blank">{%- endif -%}{{ talk.eventName }}{%- if talk.eventUri != null -%}</a>{%- endif -%}{%- if talk.slidesUri != null -%}&nbsp;&nbsp;•&nbsp;&nbsp;<a href="{{ talk.slidesUri }}" target="_blank">Slides</a>{%- endif -%}{%- if talk.videoUri != null -%}&nbsp;&nbsp;•&nbsp;&nbsp;<a href="{{ talk.videoUri }}" target="_blank">Video</a>{%- endif -%}</span><br>
    {%- if talk.slidesUri != null -%}<a href="{{ talk.slidesUri }}" target="_blank">{%- endif -%}{{ talk.title }}{%- if talk.slidesUri != null -%}</a>{%- endif -%}</h3>
</div>
{%- if talk.slidesUri != null -%}{%- assign talksCountWithSlides = talksCountWithSlides | plus: 1 -%}{%- endif -%}
{%- if talksCount >= 3 and talksCountWithSlides >= 1 or talksCountWithSlides >= 3 -%}{%- break -%}{%- endif -%}
{%- endfor -%}
    <a href="/talks.html">Older talks...</a>
</div>

<hr>
<h2>Recent posts</h2>
<div class="local-post-list">
{%- for post in site.posts limit:3 -%}
{%- assign excerpt_parts = post.excerpt | split: '<div class="paragraph">' -%}
<div class="local-list-item">
    <h3><span class="local-subtitle">{{ post.date | date: site.date_format }}</span><br>
    <a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="paragraph"><p>
    {%- for excerpt_part in excerpt_parts offset:1 -%}
    {{ excerpt_part | replace: '<p>', '' | replace: '</p>', '' | replace: '</div>', '' }}
    {%- endfor -%}
    <a href="{{ post.url }}">Read more...</a></p></div>
</div>
{%- endfor -%}
<div class="paragraph">
    <p><br><a href="/blog.html">Older posts...</a><br></p>
</div>
</div>
