---
layout: default
---
{{ content }}

<div class="local-post-list">
{%- assign lastTalksYear = 0 -%}
{%- for talk in site.data.talks -%}
    {%- assign currentTalksYear = talk.date | date: '%-Y' -%}
    {%- if lastTalksYear == 0 or lastTalksYear != currentTalksYear -%}
<hr>
<div class="local-list-item">
    <h2>{{ currentTalksYear }}</h2>
</div>
    {%- endif -%}
    {%- assign lastTalksYear = currentTalksYear -%}
<div class="local-list-item">
    <h3><span class="local-subtitle">{{ talk.date | date: site.date_format }}&nbsp;&nbsp;•&nbsp;&nbsp;{%- if talk.eventUri != null -%}<a href="{{ talk.eventUri }}" target="_blank">{%- endif -%}{{ talk.eventName }}{%- if talk.eventUri != null -%}</a>{%- endif -%}{%- if talk.slidesUri != null -%}&nbsp;&nbsp;•&nbsp;&nbsp;<a href="{{ talk.slidesUri }}" target="_blank">Slides</a>{%- endif -%}{%- if talk.videoUri != null -%}&nbsp;&nbsp;•&nbsp;&nbsp;<a href="{{ talk.videoUri }}" target="_blank">Video</a>{%- endif -%}</span><br>
    {%- if talk.slidesUri != null -%}<a href="{{ talk.slidesUri }}" target="_blank">{%- endif -%}{{ talk.title }}{%- if talk.slidesUri != null -%}</a>{%- endif -%}</h3>
</div>

{%- endfor -%}
</div>
