/**
 * Quarkus theme for reveal.js.
 *
 * Based on Black theme for reveal.js by Hakim El Hattab et al.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(quarkus-assets/font/open-sans/font.css);
@import url(quarkus-assets/font/roboto-mono/font.css);


@import "../quarkus-assets/scss/colors";
@import "../quarkus-assets/scss/highlight";
@import "../quarkus-assets/scss/local";

// local colors
$semiBlack: #000a;
$codeOrange: #f57900;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000c16;

$mainColor: $white;
$mainFont: 'Open Sans', Arial, sans-serif;

$linkColor: $quarkusBlue;
$linkColorHover: $link-hover;

$headingFont: 'Open Sans', Arial, sans-serif;
$headingTextShadow: none;
$headingColor: $quarkusBlue;
$headingFontWeight: 300;
$headingLetterSpacing: 0.2em;
$headingTextTransform: uppercase;
$heading1Size: 2.5em;
$heading2Size: 1.5em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;


@mixin bodyBackground() {
  background-image: url(quarkus-assets/img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


/* Override/improve some common reveal.js things */
.reveal .light-font {
  font-weight: 300;
}

.reveal code {
  color: #f57900;
  font-family: 'Roboto Mono', monospace;
}


.reveal pre code  {
  color: $light-grey;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  line-height: 1.4em;
  border: 1px solid $quarkusBlue;
  padding: 0.5em;
  background: #282a36;
}

.reveal ul {
  margin-bottom: 10px;
}

.reveal ul li {
  list-style-type: none;
  position: relative;    /* It is required for setting position to absolute in the next rule. */
}

.reveal ul li::before {
  color: $white;
  content: '\2022';
  font-size: 1.1em;
  left: -0.6em;
  position: absolute;
}

.reveal ul li li::before {
  color: $white;
  content: '\25AA';
  font-size: 0.9em;
  left: -0.6em;
  position: absolute;
  top: 0.12em;
}

.reveal section img {
  margin: 0px;
  background: none;
  border: none;
  box-shadow: none
}


table.plaintable td {
  border-bottom: none;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
}

.reveal ul.check li::before {
  color: $quarkusBlue;
  content: '\2713';
  font-size: 1.1em;
  left: -0.9em;
  position: absolute;
}

.reveal li ul.check li::before {
  color: $quarkusBlue;
  content: '\2713';
  font-size: 1.1em;
  left: -0.9em;
  position: absolute;
  top: 0em;
}


/*
 * Slide backgrounds
 */

/* Semi-transparent black over the big bang image is the default background */
div.reveal {
  background-color: $semiBlack;
}

/* <section data-state="belt"> disables the semi-transparent black overlay */
html.belt div.reveal {
  background-color: transparent;
}
/* But not in overview */
html.belt div.reveal.overview {
  background-color: $semiBlack;
}

/* Belt: invisible by default */
#belt {
  background-color: $semiBlack;
  /*border-top: 2px solid $quarkusBlue;
  border-bottom: 2px solid $quarkusBlue;*/
  display: none;
  height: 320px;
  margin-top: -160px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}
/* Belt: activated by <section data-state="belt"> */
html.belt #belt {
  display: block;
}
/* But not in overview */
html.belt div.reveal.overview #belt {
  display: none;
}


/*
 * Footer
 */

html #footer {
  border-top: 1px solid #dcdcdc;
  bottom: 5px;
  display: block;
  font-size: 28px;
  font-weight: 300;
  height: 50px;
  line-height: 47px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

/* You can hide the footer trough <section data-state="no-footer"> */
html.no-footer #footer {
  display: none;
}


html.belt #footer {
  background-color: $semiBlack;
}

#footer img.left {
  float: left;
  height: 36px;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: -5px;
  margin-left: 8px;
  z-index: 1000;
}

#footer div.left {
  float: left;
  height: 40px;
  margin-right: 6px;
  margin-left: 6px;
  z-index: 1000;
}

#footer a.left {
  display: block;
  float: left;
  font-weight: 300;
  font-size: 25px;
  height: 40px;
  letter-spacing: 0.2em;
  margin-top: 2px;
  margin-right: 6px;
  margin-left: 15px;
  text-transform: uppercase;
  z-index: 1000;
}

#footer img.right {
  float: right;
  height: 36px;
  margin-top: 8px;
  margin-right: 12px;
  margin-bottom: -5px;
  margin-left: 10px;
  z-index: 1000;
}


@media print  {
  body {
    color: $black;
    background: $white;
  }
  .reveal {
    color: $black;
  }
  .backgrounds {
    background-color: $white;
  }
  .reveal a,
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
    color: #03c;
  }
}
